.App {
  .sidebar {
    width: 16%;
    height: 100vh;
    min-height: -webkit-fill-available;
    background-color: #191d2b;
    position: fixed;
    border-right: 1px solid #2e344e;
    z-index: 10;
    @media screen and (max-width: 1000px) {
      transform: translateX(-400%);;      
    }
  }

  .main-content {
    width: fit-content;
    min-width: 84%;
    margin-left: 16%;
    background-color: #10121b;
    min-height: 100%;
    background-image: url(../../assets/Images/dots.svg);
    background-size: auto;
    // display: grid;
    display: flex; 
    position: inherit;
    .content {
      display: flex;
      margin: 5rem 15rem;
      min-height: 100vh;
      height: fit-content;
    }
    @media screen and (max-width: 1000px) {
      margin-left: 0;
      position: inherit;
      width: fit-content; /* Para contener todo mi texto se pre define */    
      min-width: 795px;
    }
  }
}