@import '../Styles/layout.scss';
@import '../Styles/navBar.scss';
@import '../Styles/typography.scss';
@import '../Styles/title.scss';
@import '../Styles/about.scss';
@import '../Styles/skill.scss';
@import '../components/ServicesSection/services.scss';
@import '../Views/Contact/contact.scss';
@import '../components/ContactItem/contactItem.scss';
@import '../Views/Portfolios/portfoliosPage.scss';
@import '../components/ContactFrom/ContactForm.scss';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #0381ff79;
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: #a4acc4;
}
body {
  color: #a4acc4;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.2rem;
}

span {
  color: #037fff;
}

@media screen and (max-width: 411px) {
  html {
    font-size: 80%;
  }  
}

html {
  background-color: #10121b;
  background-image: url(../../assets/Images/dots.svg);
  height: 100vh;
}